body {
    background-color: #EFFFD6;
  }
  
  h1 {
    color: #68A900;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  .patata{
    margin: 100px;
  }
  patata{
    margin: 100px;
  }

 