body {
    background-color: #EFFFD6;
  }
  
  h1 {
    color: #68A900;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  .inicio{
    position: relative;
    margin-left: 33.5%;
    

  }
  .photo{
    height: 400px;
    margin-bottom: 6%;
  

  }.bot{
    margin-left: 1%;
  
  }.acerca{
    margin-left: 100%;
    margin-top: 98%;
  }